$light-gray: #e4e7ec;

body, html {
margin: 0;
padding: 0;
background-color: $light-gray;
height: 100%;
}

div:first-child, .mainContainer, .taskContainer {
    min-height: 100%;
}

@mixin center () {
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
}


.taskContainer {
    -webkit-flex-direction: column;
    flex-direction: column;        
    }

.taskBox {
    width: 80% !important;
    min-height: 100px;
    }
.button {
    height: 10px !important;
    }
  

@media screen and (min-width: 651px) {
.mainContainer {
	@include center();
}

.taskContainer {
	@include center();
	-webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;

}


.taskBox {
	width: 33%;
	height: 70%;
	margin: 10px;
	background-color: white;
	padding-left: 10px;
}

.arrowDown {
	border: solid black;
    border-width: 0 2px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-right: 3px;
}


.button {
    position: absolute;
    top: 30px;
    height: 10px !important;
}
}