/*****
mixins,
variables
******/
$light-gray: #e4e7ec;
@mixin redBtn () {
    cursor: pointer;
        background-color: #d9534f;
        border-radius: 30%;
        padding: 5px;
        width: 30px;
        height: 30px;
    color: white;
    text-align: center;
            &:hover {
            background-color: #c9302c;
            }   
}




/*****
general
style
******/
body, html {
margin: 0;
padding: 0;
background-color: $light-gray;
}





/*****
taskBox
style
******/
.taskContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-top: 0px;
    .taskBox:last-child {
    margin-bottom: 20px;
    }
}

.taskBox {
    width: 90%;
    min-height: 200px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
}

.tasks {
    border: 1px #f0f5f5 solid;
    padding: 20px;
    display: flex;
    margin: 20px;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    .remBtn {
        position: absolute;
        @include redBtn();
        right:0;
        top:0;
    }
    .btn {
        margin: auto;
    }
    .toDoBtn {
        width:60px;
    }
    .progressBtn {
        width: 70px;
    }
    .completedBtn {
        width: 80px;
    }
    .taskName {
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
    }
    .task {
        font-size: 15px;
    }
}





/*****
modal
******/
form {
    display: flex;
    flex-direction: column;
    input {
        padding: 5px;
        margin: auto;
        margin-top: 5px;
        width: 80%;
    }
    section {
    display: flex;
    flex-direction: row;
        .modalBtn {
        @include redBtn();
        margin: auto;
        margin-top: 5px;
        }
    }
}





/*****
others
******/
.arrowDown {
    border: solid black;
    border-width: 0 2px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-right: 3px;
}

.openBtn {
    position: relative;
    left: 47%;
    margin-top: 30px;
}








/*****
media queries
******/
@media screen and (min-width: 768px) {
    .taskContainer {
        flex-direction: row;
    }

    .taskBox:not(:first-child) {
        margin-left: 15px;
    }

    .taskBox {
        width: 33%;
        min-height: 300px;
    }
   
}
